.inputwrapper {
    display: flex;
    text-align: center;
    align-items: center;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.inputwrapper:hover {
    border-color: #000;
    outline: 2px solid #000;
    outline-offset: 5px;
    transition: all 0.2s ease-in-out;
}

.inputwrapper:focus {
    outline: 2px solid #000;
    outline-offset: 5px;
    transition: all 0.2s ease-in-out;

}

.inputfile::before {
    content: 'Selectionnez les fichiers à convertir';
    display: block;
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.listoffiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 10px;
    font-weight: normal;
}


.level1checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 10px;
    font-weight: normal;
}

.level2checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 10px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: normal;
}

.level2checkbox[state="off"] {
    display: none;
}

.myDivInput[state="off"] {
    display: none;
}

body {
    font-size: 1.5em;
    color: white;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
}

label {
    font-size: 1em;
    color: white;
    text-shadow: 5px 5px 8px #0000000c;
    margin-right: 10px;
}


.recommended {
    color: indianred;
}

.mandatory {
    color: forestgreen;
}

li {
    margin-bottom: 1em;
}

.FAQ {
    width: 95%;
    margin-top: 10px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    margin-bottom: .2em;
    margin-top: .2em;
}
